@inherits LayoutComponentBase

@inject NavigationManager NavigationManager

<div class="page">

    <main>
        <article>
            @Body
        </article>
    </main>
</div>

@code
{
    protected override void OnInitialized()
    {
        base.OnInitializedAsync();
        
        NavigationManager.NavigateTo("/dashboard/1");
    }
}
